body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

a:hover {
  color: #FFA826 !important;
  border-left: 3px #FFA826 solid;
}

/* Home */

.parallax-window {
  background-image: url('../img/women-spa-bg.png');
  min-height: 600px;
  background: transparent;
}

.parallax-window .hero-heading {
  color: white;
  text-align: center;
}

.gap--sm  > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* GH Show page */

#makelive {
  display: block;
  font-size: 20px;
  color: white;
  background-color: green;
  margin:40px auto;
}

/*admin show page*/
.choices{
  flex-direction: column;
}

.admin-weightings{
  text-align: left;
}

.admin-weightings-value{
  text-align: left;
  padding-left: 10em;
}

/* Stripe */

.ng-invalid {
  color: red;
}

#unauthorised{
  font-size: 5em;
  color: red;
  margin: 50% auto;
}