body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.gap--sm  > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* GH Show page */

#makelive {
  display: block;
  font-size: 20px;
  color: white;
  background-color: green;
  margin:40px auto;
}

/*admin show page*/
.choices{
  flex-direction: column;
}

.admin-weightings{
  text-align: left;
}

.admin-weightings-value{
  text-align: left;
  padding-left: 10em;
}

/* Stripe */

.ng-invalid {
  color: red;
}

#unauthorised{
  font-size: 5em;
  color: red;
  margin: 50% auto;
}