body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

a:hover {
  color: #FFA826 !important;
}

/* Home */

.parallax-window {
  /*background-image: url('../img/women-spa-bg.png');*/
  min-height: 100vh;
  background: transparent;
}

.parallax-window .hero-heading {
  color: white;
  text-align: center;
}

.gap--sm  > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  max-width: 100%;
}

.dark-bg {
  /*background-color: #000;*/
  color: #FFA826;
}

/*footer ul li {
  text-decoration: none;
  display: inline;
  margin-right: 10px;
  margin-top: 20px;
}*/

/* BUTTONS */

button {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;

  font-size: 18px;
  font-weight: 600;

  margin: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}

.facebook { background: #435f9c; }
.twitter  { background: #00aced; }

/* GH Show page */

#makelive {
  display: block;
  font-size: 20px;
  color: white;
  background-color: green;
  margin:40px auto;
}

/*admin show page*/
.choices{
  flex-direction: column;
}

.admin-weightings{
  text-align: left;
}

.admin-weightings-value{
  text-align: left;
  padding-left: 10em;
}

/* Stripe */

.ng-invalid {
  color: red;
}

#unauthorised{
  font-size: 5em;
  color: red;
  margin: 50% auto;
}