<h1>This is the Thankyou show</h1>

<h1>Pictures</h1>
<img ng-repeat="picture in thankyousShow.selected.pictures" ng-src="{{ picture }}">

<div class="col-md-8 col-md-offset-2">
  <div class="thumbnail">
    <img src="https://fillmurray.com/500/300">
    <div class="caption">
      <h1>{{ thankyousShow.selected.name }}</h1>
      <h2>{{ thankyousShow.selected.description }}</h2>

      <h3>Supplier:</h3>
      <p>{{ thankyousShow.selected.supplier }}</p>

      <h3>Price:</h3>
      <p>{{ thankyousShow.selected.price }}</p>

      <h3>Tags:</h3>
      <div ng-repeat="tag in thankyousShow.selected.tags">
        <div class="thumbnail">
          <p>{{ tag }}</p>
        </div>
      </div>

    </div>

    <button ui-sref="thankyousEdit({ id: thankyousShow.selected._id })" class="btn">Edit</button>
    <button ng-click="thankyousShow.delete()" class="btn">Delete</button>

  </div>
</div>

<p><a ui-sref="adminUi">Back</a></p>