<h1>Inactive GroupHugs:</h1>

<ul ng-repeat="grouphug in admin.allGrouphugs" ng-if="grouphug.status === 'inactive'">
  <li>{{ grouphug.name }}</li>
  <!-- <li>{{ grouphug.description }}</li> -->
  <!-- <li>{{ grouphug.creator }}</li> -->
  <!-- <li>{{ grouphug.giftee }}</li> -->
  <!-- <li>{{ grouphug.contributors }}</li> -->
  <li>Number of experiences: {{ grouphug.experiences.length }}</li>
  <li>{{ grouphug.experiences.experienceId }}</li>
  <li>{{ grouphug.status }}</li>
  <li><a ui-sref="adminUiGrouphugShow({ id: grouphug._id })">Edit Grouphug</a></li>
  <li><a ui-sref="grouphugsShow({ id: grouphug._id })">Enter</a></li>
</ul>

<h1>Active GroupHugs:</h1>

<!-- <table ng-repeat="grouphug in admin.allGrouphugs">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Creator</th>
    <th>Giftee</th>
    <th>Contributor</th>
    <th>Experiences</th>
  </tr>
  <tr>
    <td>{{ grouphug.name }}</td>
    <td>{{ grouphug.description }}</td>
    <td>{{ grouphug.creator }}</td>
    <td>{{ grouphug.giftee }}</td>
    <td>{{ grouphug.contributors }}</td>
    <td>{{ grouphug.experiences }}</td>
    <td><a ui-sref="grouphugsShow({ id: grouphug._id })">Enter</a></td>
  </tr>
</table> -->
<ul ng-repeat="grouphug in admin.allGrouphugs" ng-if="grouphug.status === 'active'">
  <li>{{ grouphug.name }}</li>
  <!-- <li>{{ grouphug.description }}</li> -->
  <!-- <li>{{ grouphug.creator }}</li> -->
  <!-- <li>{{ grouphug.giftee }}</li> -->
  <!-- <li>{{ grouphug.contributors }}</li> -->
  <li>Number of experiences: {{ grouphug.experiences.length }}</li>
  <li>{{ grouphug.experiences.experienceId }}</li>
  <li>{{ grouphug.status }}</li>
  <li><a ui-sref="adminUiGrouphugShow({ id: grouphug._id })">Edit Grouphug</a></li>
  <li><a ui-sref="grouphugsShow({ id: grouphug._id })">Enter</a></li>
</ul>

<h1>Users:</h1>
<ul ng-repeat="user in admin.allUsers">
  <li>{{ user.username }}</li>
  <li>{{ user.firstName }}</li>
  <li>{{ user.lastName }}</li>
  <li><a ui-sref="usersShow({ id: user._id })">Enter</a></li>
</ul>

<h1>Experiences:</h1>
<ul ng-repeat="experience in admin.allExperiences">
  <li>{{ experience.name }}</li>
  <li>{{ experience.supplier }}</li>
  <li>{{ experience.price }}</li>
  <li>Tags:</li>
  <li ng-repeat="tag in experience.tags track by $index">{{ tag }}</li>
  <li><a ui-sref="experiencesShow({ id: experience._id })">Enter</a></li>
</ul>
