<div ng-if="main.currentUser">
  <h1>This is the GroupHug show</h1>

  <div class="col-md-8 col-md-offset-2">
    <div class="thumbnail">
      <img src="https://fillmurray.com/500/300">
      <div class="caption" ng-controller="GrouphugsShowController as grouphugsShow" >
        <h1>{{ grouphugsShow.selected.name }}</h1>
        <h2>{{ grouphugsShow.selected.description }}</h2>

        <h3>Giftee:</h3>
        <p>{{ grouphugsShow.selected.gifteeFirstName}} {{ grouphugsShow.selected.gifteeLastName}}</p>

        <h3>Creator:</h3>
        <p>{{ grouphugsShow.selected.creator.firstName }} {{grouphugsShow.selected.creator.lastName}}</p>


        <p ng-if="grouphugsShow.selected.status != 'active'">This Grouphug has not yet been made active by the lovely people at group hug headquarters so you cannot yet make contributions as the team are still trawling through their big book of experiences. You can start adding names of people who you would like to invite to make contributions they will not be notified until the GroupHug becomes active and you press the big PUBLISH button"</p>

        
        <p>Please add the email addresses of people you think might like to contribute below. You can always add to this list once the Group Hug is created and don't worry we will only use the email addresses you provide for the purpose of inviting people to join group hug to contribute to {{grouphugsShow.selected.gifteeFirstName}}'s Group Hug.</p>

        <div ng-if="grouphugsShow.selected.status == 'active' && grouphugsShow.selected.contributors.length <=1"><p>
        Yeah! This GroupHug is good to go - but you need to add some friend's email addresses before you can publish it</p>
        </div>
        <div ng-if="grouphugsShow.selected.status == 'active' && grouphugsShow.selected.contributors.length >1"><p> Yeah! This GroupHug is good to go - please check the details below if you are happy to share this with all your lovely friends go ahead and hit the big green PUBLISH button below, you can add new friends at any time before the grouphug is presented to the recipient</p>

          <button id="makelive" ng-if="!grouphugsShow.selected.madelive" ng-click="grouphugsShow.makelive()" class="btn">PUBLISH</button>
        </div>

        <h3>Also Starring</h3>
        <ul ng-repeat="contributor in grouphugsShow.selected.contributors">
          <li >{{contributor.contributorId.firstName}} {{contributor.contributorId.lastName}}  ({{ contributor.contributorId.email}}) is {{contributor.contributorStatus}}</li>
        </ul>

        <h2>Add to the list of contributors:</h2>
        <ng-form name="add-Contibutor">
          <input placeholder="contributor's email address" type="email" name="newContributorEmail" ng-model="grouphugsShow.newContributorEmail"> 
          <input placeholder="contributor's name" type="text" name="newContributorName" ng-model="grouphugsShow.newContributorName"> 
          <input type="button" value="Add Contributor" ng-click ="grouphugsShow.newContributor()">
        </ng-form>


      <!--   <form  ng-submit="grouphugsShow.addContributor()">
          <input placeholder="contributor's email address" type="email" name="newContributorEmail" ng-model="grouphugsShow.newContributorEmail"> 
        </form> -->
        
      
        <div ng-if="grouphugsShow.selected.status == 'active'">
          <div ng-repeat="experience in grouphugsShow.selected.experiences">
            <h3>{{experience.experienceId.name}}<br>Description:{{experience.experienceId.description}} Price: £{{experience.experienceId.price}}  Average Weight {{grouphugsShow.selected.averageWeight(experience)}} </h3>

            <form name="userWeighting" ng-if="grouphugsShow.canVote(experience, main.currentUser._id)">
              <table>
                <tr>
                  <td>Not Great</td>
                  <td>Possibly</td>
                  <td>Ok</td>
                  <td>That would work</td>
                  <td>Perfect</td>
                </tr>
                <tr>
                  <td><input type="radio" class="rating-select" ng-model="experience.newWeighting" value="1" ></td>
                  <td><input type="radio" class="rating-select" ng-model="experience.newWeighting" value="2" ></td>
                  <td><input type="radio" class="rating-select" ng-model="experience.newWeighting" value="3" ></td>
                  <td><input type="radio" class="rating-select" ng-model="experience.newWeighting" value="4" ></td>
                  <td><input type="radio" class="rating-select" ng-model="experience.newWeighting" value="5" ></td>
                  
                </tr>
              </table> 
             </form>
             <h4>Average Rating: {{grouphugsShow.averageWeight(experience)}}</h4>
          </div>
          <button ng-click="grouphugsShow.saveWeightings()" class="btn" >Save ratings</button>

          <h2>Contributions...</h2>

          <h3>So far £{{ grouphugsShow.selected.contributionTotal/100}} has been contributed</h3>
          <h3 ng-if="grouphugsShow.contributionMessage">Whey {{grouphugsShow.contributionMessage}}</h3>

          <form name="contributionForm" id="form" onsubmit="return false;">
            <input type="text" name="amount" placeholder="Enter your contribution here £0.00"  ng-model = "grouphugsShow.contributionAmount" ng-pattern="/^\d*\.?\d*$/" required>
            <input type="submit" id="customButton"   ng-click="grouphugsShow.checkout(grouphugsShow.selected.name)" ng-disabled="contributionForm.$invalid">
          </form>
        </div>
       <!--  <h3>Contributors:</h3>
        <ul ng-repeat="contributor in grouphugsShow.selected.contributors">
          <li>{{ contributor }}</li>
          <li ui-sref="usersShow({ id: contributor._id })">Enter</li>

        </ul> -->

      </div>

     
      <!-- <button ng-click="grouphugsShow.delete()" class="btn">Delete</button>
   -->
    </div>
    
  </div>




  <button ui-sref="grouphugsEdit({ id: grouphugsShow.selected._id })" class="btn">Edit the group hug details </button><a ui-sref="adminUi"> Back</a>
  <h1>Pictures</h1>
  <img ng-repeat="picture in grouphugsShow.selected.pictures" ng-src="{{ picture }}">
</div>
<div id="unauthorised" ng-if="!main.currentUser">You do not have permission to view this page - sorry</div>