the users show page

<h1>This is the User show</h1>

<div class="col-md-8 col-md-offset-2">
  <div class="thumbnail">
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcToWXet6ifvpSHOfr1To_xUJ1FfMxzMvo_BnkGwqxwODBitGjv7Sg">
    <div class="caption">
      <h2>Username{{ usersShow.selected.username }}</h2>
      <h2>First Name{{ usersShow.selected.firstName }}</h2>
      <h2>Last Name{{ usersShow.selected.lastName }}</h2>
      <h2>DOB{{ usersShow.selected.DOB }}</h2>
      <h2>Email Address{{ usersShow.selected.email }}</h2>

      <p>Total GroupHugs as Giftee: {{ usersShow.selected.something }}</p>
      <p>Total GroupHugs as Creator: {{ usersShow.selected.somethingElse }}</p>
      <p>Total GroupHugs as Contributor: {{ usersShow.selected.anotherThing }}</p>

    </div>
  </div>
</div>

<p><a ui-sref="adminUi">Back</a></p>
