<div class="row gap--sm" ng-controller="UsersShowController as usersShow">
  <div>
    <h1>{{ usersShow.selected.displayName }}</h1><br />
    <img src="http://placehold.it/150x150" />
  </div>
</div>
<div class="row gap--sm">
  <div class="col-md-6">
    <h3>Display Name</h3>
      {{ usersShow.selected.displayName }}
    </div>
  <div class="col-md-6">
    <h3>First Name</h3>
      {{ usersShow.selected.firstName }}
    </div>
  </div>
</div>

<div class="row gap--sm">
  <div class="col-md-6">
    <h5>Last Name</h5>
    {{ usersShow.selected.lastName }}
  </div>
  <div class="col-md-6">
    <h5>Email Address</h5>
    {{ usersShow.selected.email }}
  </div>
</div>

<div class="row gap--sm">
  <div class="col-md-6">
   <h5>ContactNumber</h5>
   {{ usersShow.selected.contactNumber }}
  </div>

  <div class="col-md-6">
    <h5>Role</h5>
    {{ usersShow.selected.role }}
  </div>
</div>
<div class="row gap--sm">
  <div class="col-md-6">
    <h5>Grouphugs:</h5>
    <ul ng-repeat="grouphug in usersShow.selected.grouphugs">
      <li>{{grouphug.name}}</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h5>Gifts:</h5>
    <ul ng-repeat="gift in usersShow.selected.gifts">
      <li>{{gift}}</li>
    </ul>
  </div>
</div>

<div class="row gap--sm">
  <div class="col-md-12">
   <h5>Pending Invitations:</h5>
     <ul ng-repeat="invitation in usersShow.selected.invitations">
      <li>{{invitation.name}}, a group hug for {{invitation.gifteeFirstName}}{{invitation.gifteeLastName}}</li>
    </ul>
   <!-- <p>Total GroupHugs as Giftee: {{ usersShow.selected.something }}</p>
   <p>Total GroupHugs as Creator: {{ usersShow.selected.somethingElse }}</p>
   <p>Total GroupHugs as Contributor: {{ usersShow.selected.anotherThing }}</p> -->
  </div>
</div>
<div class="row gap--sm">
  <div>
   <button ui-sref="usersEdit({ id: usersShow.selected._id})" class="btn btn-primary">Edit </button>
   <a ng-if="main.currentUser.role ==='superAdmin'" ui-sref="adminUi" class="btn btn-primary">Back</a>
   <a ng-if="main.currentUser.role !='superAdmin'" ui-sref="usersWelcome({id: main.currentUser._id})" class="btn btn-primary">Back</a>
  </div>
</div>



  

